html,body {
  margin: 0;
  padding: 0;
  height: auto;
  width: 100%;
  --toolbar-size: 60px;
}
/* body {
  display: flex;
  align-items: stretch;
} */
#root {
  height: 100%;
  width: 100%;
  /* position: fixed; */
  /* background-color: #332f2f;/ */
}
* {
  box-sizing: border-box;
}

